body {
    background-color: rgb(238, 234, 233);
    font-family: Inter;
  }
  
  .caption {
    font-family:'Times New Roman', Times, serif;
  }
  .navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:auto;
    overflow: hidden;
    background-color: #bba6a6;
  }
  
  .navLink , .navFix {
    float: left;
    padding: 10px 16px;
  }
  
figure {
  min-width: 150px;
  display: inline-block;
  width: 25%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 10px;
  padding: 20px;
}

  .para1 { 
    padding: 5px;
    letter-spacing: 1px;
    background-color: rgb(169, 180, 218);
    color:rgb(114, 83, 83);
    line-height: 1;
    overflow:hidden;
  }
  
  h1 {
    font-family: Inter-Bold;
    color: rgb(105, 38, 44);
  }
  
  h3 {
    font-family: Inter-Bold;

    color: rgba(15, 7, 126, 0.949);
    text-align: center;
  }
  
  p { 
    padding: 5px;
    letter-spacing: 0.5px;
    line-height: 1;
  }
  
  
  li a {
    display: block;
    color: rgb(93, 34, 34);
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(56, 108, 151);
    padding: 0px 3px;
    color: rgb(231, 198, 198);
    overflow: hidden;
  }
  ol {
    font-style: italic;
  }
  @font-face {
    font-family: Inter; src:url('fonts/Inter/Inter-Regular.ttf') ;
  }
  @font-face {
    font-family: Inter-Bold; src:url('fonts/Inter/Inter-Bold.ttf') ;
  }
  